.expertConsult {
  background: linear-gradient(53.5deg, #15b79f -47.14%, #cbf8f1 96.48%);
  margin: 20px 0 0;
  &:before {
    background-image: url(/clientSideImages/clientSideImages.png);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    top: 0;
    // background-position: top;
    background-repeat: no-repeat;
  }
  .onlineCount {
    background-color: #fff;
    width: max-content;
  }
}
